<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de teléfono:</strong>
  <%= @tipo_tel.nom_tipo_tel %>
</p>


<%= link_to '  ', edit_tipo_tel_path(@tipo_tel), :class => "icon-edit" %> |
<%= link_to '  ', tipo_tels_path, :class =>"icon-arrow-left" %>
