<p id="notice"><%= notice %></p>

<p>
  <b>Nom tipo entidad:</b>
  <%= @tipo_entidad.nom_tipo_entidad %>
</p>


<%= link_to 'Editar', edit_tipo_entidad_path(@tipo_entidad) %> |
<%= link_to 'Regresar', tipo_entidades_path %>
