<h1>Editar lista de acuerdos</h1>

<%= render 'form' %>

<%= link_to 'Mostrar acuerdos', [@sesion, @lista_acuerdo] %> |
<%= link_to 'Regresar al índice de listas acuerdos', sesion_lista_acuerdos_path(@sesion) %>
