<p id="notice"><%= notice %></p>

<p>
  <b>Nombre del tipo de organo:</b>
  <%= @tipo_organo_de_gobierno.nom_tipo_de_organo %>
</p>


<%= link_to 'Editar', edit_tipo_organo_de_gobierno_path(@tipo_organo_de_gobierno) %> |
<%= link_to 'Regresar', tipo_organo_de_gobiernos_path %>
