<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de usuario:</strong>
  <%= @tipo_usuario.nom_usuario %>
</p>


<%= link_to '  ', edit_tipo_usuario_path(@tipo_usuario), :class =>"icon-edit" %> |
<%= link_to '  ', tipo_usuarios_path, :class => "icon-arrow-left" %>
