<p id="notice"><%= notice %></p>

<p>
  <strong>Nom puesto:</strong>
  <%= @puestos_entidad.nom_puesto %>
</p>


<%= link_to 'Editar puesto', edit_puestos_entidad_path(@puestos_entidad) %> |
<%= link_to '  ', puestos_entidads_path, :class => "icon-arrow-left" %>
