<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo email:</strong>
  <%= @tipo_email.nom_tipo_email %>
</p>


<%= link_to '   ', edit_tipo_email_path(@tipo_email), :class =>"icon-edit" %> |
<%= link_to '   ', tipo_emails_path, :class => "icon-arrow-left" %>
