<p id="notice"><%= notice %></p>

<p>
  <b>Tipo email:</b>
  <%= @tipo_email.nom_tipo_email %>
</p>


<%= link_to 'Editar', edit_tipo_email_path(@tipo_email) %> |
<%= link_to 'Regresar', tipo_emails_path %>
